nav{
  background-color: whitesmoke;
  padding: 15px;
}

nav a{
  text-decoration: none;
  margin-right: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

nav a:hover{
  background-color: lightblue;
}
